.nav-container-wrapper {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.nav-item {
    padding: 2px;
    margin-left: 7px;
}

.right-side {
    flex-direction: row-reverse;
}