.brand-wrapper {
    text-align: left;
}

a.navbar-brand {
    justify-content: left;
}

.footer-content .nav-container {
    justify-content: start;
}

.sub-footer {
    text-align: left;
    display: block;
    width: 100%;
}

.brand-wrapper {
    padding: 0 5% 5% 0;
}

.footer {
    border-top: 2px solid black;
}

.footer-content {
    padding-top: 5%;
}

.navbar-expand-md .navbar-nav {
    flex-direction: column;

}

.center-33,
.right-33 {
    width: 30%;
    display: block;
}

.center-50 {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.center-33 ul li,
.right-33 ul li {
    list-style: none;
    text-align: left;
}

.clear {
    border: 0;
    clear: both;
    height: 0;
}

.footer-heading {
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

.navbar-nav a {
    padding-left: 0;
}

.top-border {
    border-top: 1px solid black;
}

.sm-icons {
    font-family: 'Ultimate-Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.social-link{
    display: inline-block;
    margin-right:2%;
}

.social-links{
    padding:2% 0;
}

.secondary-action
{
    background-color: #0066FF;
}
.social-media-image{
    vertical-align: bottom;
}

@media only screen and (max-width: 991px) {
    .center-50 {
        display: block;
        width: 100%;
    }

    .center-33,
    .right-33 {
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }

    .navbar-expand-md .navbar-nav {
        display: inline-block;
    }

    .social-links{
        padding:4% 0;
    }

    .social-link{
        display: block;
        padding-top:2%;
    }

    .social-link a{
        display: inline-block;
    }
}