<div class="footer">
    <div class="footer-content">
        <nav class="navbar navbar-expand-md  navbar-dark nav-container">
            <div class="left-66">
                <div class="brand-wrapper">
                    <a class="navbar-brand" href="#Top">
                        <img class="logo-image" src="/assets/MakeItStripeLogo.png" alt="Make It Stripe Logo" />
                    </a>
                </div>
                <p>
                    Since 2024, Make It Stripe is excited to announce that we will be servicing the Galesburg and
                    Richland, MI
                    communities.
                </p>
            </div>

            <div class="center-50">
                <div class="center-33">
                    <span class="footer-heading green">
                        Links
                    </span>

                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="#WhyUs">Why Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Testimonals">Testimonals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#About">About</a>
                        </li>
                        <li class="nav-item">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </li>

                    </ul>
                </div>

                <div class="right-33">
                    <span class="footer-heading green">
                        Services
                    </span>

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#Services">Lawn Maintenance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Services">Landscaping</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="sub-footer global-padding">
            <div class=" top-border">
                Copyright © 2024 Make It Stripe, LLC. All rights reserved.
            </div>
        </div>
    </div>

</div>