<div class="modal-wrapper">
    <div class="modal-header">
        <div>
            <h2>
                Contact Make It Stripe
            </h2>
        </div>

        <div>
            <p>
                Contact Us Today To Get A customized quote started for your property!
            </p>
        </div>

    </div>
    <div #message class="form-data" id="success-message">
        <div *ngIf="contactSuccess" class="Success-Message Contact-Message">
            <p>Thank you For Contacting us, we have recieved your request and will get back to you shortly.</p>

            <p>We are looking forward to working with you.</p>

            <a href="#" (click)="closeModal($event)" class="button primary-action"> Close</a>
        </div>

        <div *ngIf="contactError" class="Error-Message Contact-Message">
            <p>Thank you For Contacting us, But there was an error on our side, how embarrassing.</p>

            <p>Please give us a call to discuss your needs or to let us know about the problem.</p>

            <p>We do aplogize for the inconvience</p>
        </div>

        <div *ngIf="hasError" class="Error-Message Contact-Message">
            <p>Please provide the missing information</p>
        </div>

        <div class="grid-wrapper">
            <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm,$event)">
                <div>
                    <div>

                    </div>
                    <div class="grid">
                        <div class="grid-row">
                            <div class="grid-content">
                                <input type="text" id="first_name" placeholder="First Name" name="first_name" required
                                    minlength="2" #name="ngModel" [(ngModel)]="contactModel.firstName" required>
                                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">

                                    <div *ngIf="name.errors?.['required']">First Name is required.</div>
                                    <div *ngIf="name.errors?.['minlength']">
                                        Name must be at least 4 characters long.
                                    </div>
                                </div>
                            </div>
                            <div class="grid-content">
                                <input type="text" id="middle_initial" placeholder="Middle Initial" maxlength="1"
                                    name="middle_initial" [(ngModel)]="contactModel.middleInitial">
                            </div>
                            <div class="grid-content">
                                <input type="text" id="last_name" placeholder="Last Name" name="last_name"
                                    #lastname="ngModel" minlength="2" [(ngModel)]="contactModel.lastName" required>

                                <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
                                    class="text-danger">

                                    <div *ngIf="lastname.errors?.['required']">Last Name is required.</div>
                                    <div *ngIf="lastname.errors?.['minlength']">
                                        Name must be at least 2 characters long.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid-row">
                            <div class="grid-content">
                                <input type="text" id="phone" placeholder="Phone Number"
                                    (ngModelChange)="phoneNumberchange($event)" name="phone_number" required
                                    minlength="9" [(ngModel)]="contactModel.phoneNumber"
                                    [ngModelOptions]="{standalone: true}" #phoneNo="ngModel">
                                <div *ngIf="hasPhoneError" class="text-danger">
                                    <div *ngIf="hasPhoneError"> A Valid Phone Number is required.</div>
                                </div>
                            </div>

                            <div class="grid-content">
                                <input type="email" id="email" placeholder="Email" name="email" #email="ngModel"
                                    [email]="true" [(ngModel)]="contactModel.email" required>
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                                    <div *ngIf="email.invalid">Email is required.</div>
                                    <div *ngIf="email.errors?.['required']">Email is required.</div>
                                    <div *ngIf="email.errors?.['minlength']">
                                        Name must be at least 2 characters long.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid grid-single-line">
                    <div>
                        <div>
                            <input type="text" class="full-length" id="address" placeholder="Address" name="address"
                                #addy="ngModel" [(ngModel)]="address.address1" required>
                            <div *ngIf="addy.invalid && (addy.dirty || addy.touched)" class="text-danger">
                                <div *ngIf="addy.errors?.['required']">Address is required.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid grid-single-line">
                    <div>
                        <div>
                            <input type="text" class="full-length" id="address2" placeholder="Address2" name="address2"
                                [(ngModel)]="address.address2">
                        </div>
                    </div>
                </div>
                <div class="grid grid-single-line">
                    <div>
                        <div>
                            <input type="text" id="zipcode" placeholder="Zipcode" name="zipcode" #zip="ngModel"
                                [(ngModel)]="address.zipcode" required minlength="5">
                            <div *ngIf="zip.invalid && (zip.dirty || zip.touched)" class="text-danger">

                                <div *ngIf="zip.errors?.['required']">Zipcode is required.</div>
                                <div *ngIf="zip.errors?.['minlength']">
                                    Zipcode must be at least 5 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid grid-single-line">
                    <div>
                        <div>
                            <label>Which service(s) are you interested in?</label>

                            <div>
                                <ul class="no-bullets">
                                    <ng-template ngFor let-item [ngForOf]="formData.result?.services" let-i="index">
                                        <li>
                                            <span class="padding-right-2pct">
                                                <input class="services" type="checkbox" name="{{item.serviceName}}"
                                                    (change)="updateRequestedServices(item)" />
                                            </span>

                                            <label for="{{item.serviceName}}" class="servie-label">
                                                {{item.serviceName}}
                                            </label>
                                        </li>
                                    </ng-template>
                                </ul>
                            </div>
                            <div *ngIf="requestedServices.length<1" class="text-danger">
                                <div> Please Select A Service</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid grid-single-line">
                    <div>
                        <textarea id="needs" maxlength="5000" rows="6" class="text-area-full-width"
                            name="DescribeYourNeeds" required [(ngModel)]="contactModel.descriptionOfNeeds"
                            [ngModelOptions]="{standalone: true}" #description="ngModel"
                            placeholder="Please Describe your needs ..."></textarea>

                        <div *ngIf="description.invalid && (description.dirty || description.touched)"
                            class="text-danger">

                            <div *ngIf="description.errors?.['required']">Description is required.</div>

                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="grid-row">
                        <div class="grid-content">
                            <select id="where-did-you-hear" [(ngModel)]="selectedReferal" name="referalType" required
                                #referal="ngModel" [ngModelOptions]="{standalone: true}">
                                <option value="-1" class="dropdown-item" disabled selected>How Did you hear about us?
                                </option>
                                <option *ngFor="let c of formData.result?.referalTypes" [ngValue]="c.referalID">{{
                                    c.referalName
                                    }}</option>
                            </select>
                            <div *ngIf="referal.invalid && (referal.dirty || referal.touched)" class="text-danger">

                                <div *ngIf="referal.errors?.['required']">Referal Type is required.</div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid" style="display: block; padding-top:2%;">
                    <!-- submit goes here-->
                    <a href="#" (click)="onSubmit(contactForm,$event)" class="button primary-action"> Submit</a>
                </div>

            </form>
        </div>
    </div>
</div>