<style>
  .mainWrapper {
    display: block;
  }
</style>
<main>
  <div class="main-wrapper">
    <div class="contentWrapper">
      <app-header></app-header>

      <div id="Top" class="section-header section-header-image">
        <div class="centered-content">
          <div class="welcome-message">
            <div class="sub-heading">Make It Stripe Lawn Maintenance</div>

            <h1 class="sub-heading">
              Galesburg's Premiere Residential Lawn Maintenance Provider
            </h1>

            <p>
              Since 2024, Make It Stripe is excited to announce that we will be servicing the Galesbug and Richland MI
              communities.
            </p>

            <div class="action-items">
              <div class="services">
                <a href="#" class="button primary-action"> Service Offerings</a>
              </div>

              <div class="contact-us">
                <a href="#" class="button secondary-action"> Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="padding-global">
        <div class="container-small">
          <div id="WhyUs" class="section-header">
            <span>Galesburg's Trusted Lawn Maintenance</span>
            <p>
              Here at make it stripe, we are committed to making your lawn the best it can be. We have talented
              professionals that care about your lawn and want it to be the envy of the neighborhood. Our Team is ready
              to
              provide quality solutions for your yard.

            </p>
          </div>

          <div id="Services" class="section-header">
            <h3>Service Includes</h3>

            <ul>
              <li>Weekly Lawn Service</li>
              <li>Monthly Hard Edging</li>
              <li>Trimming Around Property</li>
            </ul>

            <h3>Addition Services Available</h3>

            <ul>
              <li>Dog Waste Cleanup</li>
              <li>Bagging Grass Clippings with provided yard waste bin</li>
              <li>Weeding</li>
              <li>Detaching</li>
              <li>Aeration</li>
              <li>Hedge Trimming</li>
            </ul>
          </div>

          <div id="Gallery" class="section-header">

          </div>

          <div id="Testimonals" class="section-header">

          </div>

          <div id="About" class="section-header">

          </div>
        </div>
      </div>
    </div>
  </div>
</main>