<style>
  .mainWrapper {
    display: block;
  }
</style>
<main>
  <div class="main-wrapper">
    <div class="contentWrapper">
      <app-header></app-header>

      <div id="back-to-top">
        <a href="#Top" alt="Back to Stop">
          <img src="/assets/backtotop.png" alt="Back to Top" />
        </a>
      </div>

      <section id="Top" class="section-header section-header-image">
        <div class="centered-content">
          <div class="welcome-message">
            <div class="sub-heading">Make It Stripe Lawn Maintenance</div>

            <h1 class="sub-heading">
              Galesburg's Premiere Residential Lawn Maintenance Provider
            </h1>

            <p>
              Since 2024, Make It Stripe is excited to announce that we will be servicing the Galesbug and Richland MI
              communities.
            </p>

            <div class="action-items">
              <div class="services">
                <a href="#Services" class="button primary-action"> Service Offerings</a>
              </div>

              <div class="contact-us">
                <a href="#contact" class="button secondary-action"> Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="container">
        <section id="WhyUs" class="section-header">
          <div class="global-padding">
            <div class="container-small">
              <span class="highlight dark-green">Galesburg's Trusted Lawn Maintenance</span>
              <p>
                Here at Make It Stripe we are committed to making your lawn the best it can be. We have talented
                professionals that care about your lawn and want it to be the envy of the neighborhood. Our Team is
                ready
                to provide quality solutions for your yard. Hard work is part of our D.N.A.
              </p>

              <ul class="no-bullets available-services">
                <li>
                  Licensed and insured
                </li>
                <li>
                  Dependable and trustworthy
                </li>
                <li>
                  Simple billing options for your concience
                </li>
              </ul>
            </div>
          </div>
        </section>

        <section id="Services" class="section-header section-layout949-header">
          <div class="global-padding">
            <div class="container-small">
              <div class="align-center max-width-large">
                <span class="highlight dark-green">Services</span>

                <h2 class="dark-green">
                  Quality Lawn Management Services
                </h2>

                <p>
                  Here at Make It Stripe we are proud to offer a wide range of services to meet your yards specific
                  needs. We specialize in lawn care and landscaping, our team members are dedicated to providing the
                  best
                  experience possible for you and your yard.
                </p>
              </div>

              <div class="services-wrapper">
                <div class=" layout-grid layout949_component">
                  <div class="layout949-row">
                    <div class="lawn-maintenance layout949-card">
                      <div class="lawn-mainentance-pic layout949_card-image-wrapper">
                        <img class="grid-pic" src="/assets/lawn-maintenance.jpg" alt="mowing action shot">
                      </div>

                      <div class="lawn-mainentance-text card-layout">
                        <div class="section-layout949-content-top">
                          <div class="card-sub-heading">Residential</div>

                          <div class="card-header">
                            <h3> Lawn Maintenance</h3>
                          </div>

                          <div class="card-content">
                            <p>Our lawn care services are designed to keep your lawn healthy, green, and well-maintained
                              throughout the year.</p>
                          </div>

                          <div class="lawn-services">
                            <ul class="no-bullets available-services">
                              <li>Weekly Lawn Service</li>
                              <li>Monthly Hard Edging</li>
                              <li>Trimming Around Property</li>
                            </ul>
                          </div>

                          <div class="lawn-services">
                            <a href (click)="showAdditionalServices($event)">Additional Services</a>
                            <div *ngIf="additionalServicesShow">
                              <ul class="no-bullets available-services">
                                <li>Dog Waste Cleanup</li>
                                <li>Bagging Grass Clippings with provided yard waste bin</li>
                                <li>Detaching</li>
                                <li>Aeration</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="landscaping layout949-card">

                      <div class="lawn-mainentance-pic layout949_card-image-wrapper">
                        <img class="grid-pic" src="/assets/landscape.jpg" alt="mowing action shot">
                      </div>

                      <div class="lawn-mainentance-text card-layout">
                        <div class="section-layout949-content-top">
                          <div class="card-sub-heading">Residential</div>

                          <div class="card-header">
                            <h3>Landscaping</h3>
                          </div>

                          <div class="card-content">
                            <p>Transform your outdoor space with our professional landscaping services. We create
                              beautiful
                              and functional landscapes tailored to your preferences.</p>
                          </div>

                          <div class="lawn-services">
                            <ul class="no-bullets available-services">
                              <li>Mulch installation</li>
                              <li>Weeding</li>
                              <li>Hedge Trimming</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="Gallery" class="section-header">
          <div class="global-padding">
            <div class="container-small max-width-large">
              <div class="align-center">
                <div class="highlight">Meet Our Crew</div>

                <h2>
                  Check Out Our Team
                </h2>

                <p>
                  Our dedicated team of lawn professionals are here to go to work for you.From simple to complex, large
                  or small, our work ethic is strong, and the attention to detail is not to be missed. Check out some
                  additional photos of our crew and see some amazing stripes!
                </p>

                <div class="gallery-images">

                  <p-galleria [value]="images" [circular]="true" [showItemNavigators]="true" [showThumbnails]="true">
                    <ng-template pTemplate="item" let-item>
                      <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                      <div class="grid grid-nogutter 
                                justify-content-center">
                        <img [src]="item.thumbnailImageSrc" style="width: 80%" />
                      </div>
                    </ng-template>
                  </p-galleria>

                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="Testimonals" class="section-header light-grey-background">
          <div class="global-padding">
            <div class="">
              <div class="align-center">
                <div class="highlight">What are People Saying?</div>

                <h2>
                  Testimonals
                </h2>

                <p class="spacer">
                  Read our satisfied client are saying.
                </p>

                <div class="list-testimonialss">

                  <app-testimonials></app-testimonials>

                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="About" class="section-header">
          <div class="container-small">
            <div class="align-left half-width">
              <div class="highlight">
                About
              </div>

              <div class="margin-bottom margin-small">
                <h2> Word From Pat</h2>
              </div>
              <p class="text-size-medium">
                <em>
                  As I embark on this journey with starting this business, the business is new, the dream is not. I have
                  always been passionate about lawn care and maintenance since I was a young boy learning how to drive
                  on
                  my
                  Dad’s lawn tractor and took over lawn mowing duties. This passion is what has driven me to start this
                  business, and with your help we can make it grow.
                </em>
              </p>
            </div>
          </div>
        </section>

        <section id="contact" class="section-header">
          <div class="container-small">
            <div class="align-left half-width">
              <div class="highlight">
                Recieve A Free Quote
              </div>
              <div class="margin-bottom margin-small">
                <h2>
                  <strong>Ready For Your Lawn to be amazing?</strong>
                </h2>
              </div>
              <p>
                For a free, customized quote that suits your home landscape management needs, contact Make It Stripe
                today. We're here to make your property look its best, proudly serving the Galesburg and Richland, MI
                communities.
              </p>

              <div style="padding-top:2%">
                <a href="#" (click)="show($event)" class="button primary-action"> Request Quote</a>
              </div>
            </div>
          </div>
        </section>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</main>