.centered-content {
    margin: auto;
    width: 65%;
    padding: 10px;
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.section-header-image {
    background-image: url("/assets/presidential-stripes.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.section-header {
    min-width: 100svh;
    min-height: 50svh;
    padding: 4em 0;
    text-align: left;
}

.padding-global {
    padding-left: 5%;
    padding-right: 5%;
}

.container-small {
    margin-right: auto !important;
    margin-left: auto !important;
    width: 100%;
    max-width: 80%;
}


.welcome-message div,
.welcome-message h3,
.welcome-message h1 {
    color: white
}

.welcome-message h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

.welcome-message div {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}

.welcome-message p {
    font-size: 18px;
    text-align: center;
    line-height: 27px;
    color: white;
}

.action-items {
    display: block;
    padding: 1.5em 0;
}

.action-items div {
    display: inline-block;
    margin-left: 1em;
}

.sub-heading {
    padding: .5em 0;
}

.highlight {

    font-weight: bold;
    font-size: 20px;
    padding-bottom: 2%;
    display: block;
}

.no-bullets li {
    list-style: none;
}

.section-layout949 {
    background-color: lightgreen;
}

.layout-grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}

.layout949-row {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.layout949-card {
    align-items: stretch;
    display: flex;
    overflow: hidden;
    background-color: var(--white);
    border-radius: 5px;
    flex-direction: column;
}

.layout949_card-image-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}

.grid-pic {

    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
}

.align-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.no-show {
    display: none;
}

.section-layout949-header {
    background-color: #6aa84f;
}

.services-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    padding: .5em 5%;
}

.section-layout949-content-top {
    width: 100%
}

.card-layout {
    background-color: white;
    padding: 5%;
}

.section-layout949 {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

.card-sub-heading {
    color: darkgreen;
    font-weight: 600;
}

.card-header h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
}

.available-services {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1.25rem;
}

.available-services li {
    margin-top: .25rem;
    margin-bottom: .25rem;
    padding-left: .5rem;
}

.max-width-large {
    width: 100%;
    max-width: 48rem;
}

.align-left {
    text-align: left;
}

.half-width {
    width: 50%;
}

.margin-small {
    margin: 1.5em;
}

.margin-bottom {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    margin-top: 0rem !important;
}

.text-size-medium {
    font-size: 1.125rem;
}

:host ::ng-deep .p-dialog {
    border: 2px dashed red;
    padding: 2px;
}

.light-grey-background {
    background-color: lightgray;
}

.spacer {
    padding-top: 1rem;
}

@media only screen and (max-width: 991px) {
    .section-header {
        min-width: auto;
        min-height: auto;
        text-align: unset;
    }

    .action-items {
        margin-left: 0;
    }

    .action-items div {
        display: block;
        margin-bottom: 1rem;
    }

    .button {
        display: block;
    }

    .services-wrapper {
        display: block;
        padding: .5em 5%;
    }

    .section-layout949 {
        display: block;
    }

    .section-layout949-row {
        padding-bottom: 1rem;
    }

    .layout-grid {
        display: block;
    }

    .layout949-row {
        display: block;
    }

    .layout949-card {
        display: block;
        padding-bottom: 1rem;
    }
}